@import url('https://fonts.googleapis.com/css2?family=Exo:ital@1&family=Fredericka+the+Great&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none; 
 }

html, body {
    background-image: linear-gradient(to bottom, #45a4f3, #4bb5f0, #66c5ea, #88d2e5, #abdee3, #addadb, #b0d7d4, #b2d3ce, #95c0ba, #77aea7, #589b94, #368981);
    background-color: #D9ECE9;
    background-attachment: fixed;
    height: auto;
    width: auto;
    font-family: 'Exo', sans-serif;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

#myModal {
  display: none;
  z-index: 1;
  width: 60%;
  height: 71%;
  top: 20%;
  left: 20%;
  background-color: rgba(245, 33, 121, 0.9);
  position: fixed;
  transition: 1.0s;
  border-radius: 100px;
}

#modal-content{
  position: relative;
  bottom: 50px;
}

#congrats-div {
  width: 90%;
  height: 50%;
  margin: 0 auto;
  position: absolute;
  top: 10%;
  left: 5%;
  font-size: 1em;
  text-align: center;
  line-height: 2;
}

#congrats-div i {
  font-size: larger;
}

.close-modal {
  width: 120px;
  height: 55px;
  display: inline-block;
  font-size: 1.3em;
  font-family: inherit;
  border-radius: 10px;
  box-shadow: 8px 9px 20px 0px;
  cursor: pointer;
  margin: 8px 4%;
  background-color: #77aea7;
}

#close-modal:hover {
  background-color: darkviolet;
  color: whitesmoke;
}

h1 {
    text-align: center;
    margin: 30px;
    font-size: 100px;
    font-family: 'Fredericka the Great', cursive;
}

#game-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: fit-content;
    margin: 0 auto;
}

#deck-info-holder {
  margin: 0 auto;
  height: 50px;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-holder {
    width: 33%;
    text-align: center;
    font-size: larger;
}

.deck {
    padding: 1rem;
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    margin-top: 50px;
    list-style-type: none;
}

.easy-deck {
  max-width: 650px;
}

.hard-deck {
  max-width: 760px;
}

#score, #timer {
  font-size: larger;
}

.card {
  height: 125px;
  width: 125px;
  margin: 1.2rem 0.2rem;
  background: rgba(255, 245, 255, 0.5);
  font-size: 0;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 20px 4px darkslategray;
}

.card img {
    display:none;
    width: 125px;
}

.card.show img {
    display:block;
    border-radius: 5px;
}

.flipInY {
  animation: flipInY 500ms;
}

.flipInX {
  animation: flipInX 500ms;
}

.shake {
  animation: shakeX 1s;
  animation-delay: 200ms;
}

.flash {
  color: #FFC745;
  background-color: #005453;
  border-radius: 5px;
}

.long-flash {
  color: #FF1100;
  background: black;
  border-radius: 5px;
  transform: scale(1.5, 1.5);
  animation: flash;
  animation-duration: 1.2s; 
  animation-iteration-count: infinite;

}

/*TESTING DISPLAY NONE should be block*/
.card.match img {
    display:block;
}

.card.hide img {
  display: none;
}

/* Dropdown button inspiration from https://www.w3schools.com/css/css_dropdowns.asp */
/* Style The Dropdown Button */
.dropbtn {
    background-color: #B04571;
    color: white;
    padding: 5px;
    font-size: 25px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    border-radius: 10px;
    font-family: inherit;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    right: 150px;
    background-color: #f9f9f9;
    width: 132px;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    z-index: 1;

  }
  /* Links inside the dropdown */
  .dropdown-content button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 100%;
    font-size: large;
  }

  /* Change color of dropdown links on hover */
  .dropdown-content button:hover {
    background-color: #e7c8c8}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }

#reset-game {
    font-size: 300%;
    background-color: transparent;
    animation: pulse 1s infinite;
    margin-top: 15px;
}

#reset-game:hover {
  animation: rotateIn 1s;
}

footer {
  height: 30px;
  width: 100vw;
  position: relative;
  text-align: center;
  line-height: 2em;
  margin: 120px auto;
}

#social-media a {
  color: black;
  font-size: larger;
  padding: 5px 15px;
}

@media (max-width: 800px) {
  #congrats-div {
    font-size: smaller;
  }

  #close-modal {
    width: 150px;
    height: 50px;
    font-size: 2.3em;
    margin: 60px auto;
}
  

@media (max-width: 600px) {
  #myModal {
    width: 100%;
    left: 0%;
  }

  #score, #timer {
    font-size: initial;
  }

  .card img {
    width:  80px;
  }

  .card {
    width: 80px;
    height: 80px;
  }

  .narrow {
    min-width: 360px;
    max-width: 420px;
    padding: 0px;
  }

  #deck-info-holder {
    width: 100%;
  }

  .card {
    margin: 0.2rem 0.2rem;
  }
}